@page "/admin/user/{Id}"

@using Gatam.WebAppBegeleider.Components.Layout
@using Gatam.WebAppBegeleider.Extensions
@using Gatam.Application.CQRS
@using Gatam.Infrastructure.Repositories
@inject ManagementApiRepository managementApiRepository
@inject ApiClient apiClient

@attribute [Authorize(Policy = "RequireManagementRole")]
<div class="container mt-3">
    @if (isSuccess)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @response_Msg
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

</div>
<CustomCards>
    <h3>Bewerken van gebruiker</h3>


    @if (_isLoading)
    {
        <p>Loading...</p>
    }
    else if (_hasError)
    {
        <p>Fout bij het laden van gebruikersgegevens.</p>
    }
    else if (userBeingEdited != null)
    {
        <EditForm Model="userBeingEdited" OnValidSubmit="HandleValidSubmit" FormName="EditUserForm">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group mt-3">
                <label for="Username">Gebruikersnaam</label>
                <InputText id="Username" @bind-Value="userBeingEdited.Username" class="form-control" />
            </div>

            <div class="form-group mt-3">
                <label for="Email">Email</label>
                <InputText id="Email" @bind-Value="userBeingEdited.Email" type="email" class="form-control" />
            </div>

            <div class="form-group mt-3">
                <label for="Role">Rol</label>
                <InputSelect id="Role" @bind-Value="userBeingEdited.Roles" class="form-control" multiple>
                    @foreach (var role in RoleMapper.GetAllRoles())
                    {
                        <option value="@role">@role</option>
                    }
                </InputSelect>
            </div>

            <div class="form-group mt-3">
                <label for="IsActive">Actief</label>
                <InputCheckbox id="IsActive" @bind-Value="userBeingEdited.IsActive" />
            </div>

            <button type="submit" class="btn btn-primary mt-4">Opslaan</button>

        </EditForm>
    }
    else
    {
        <p>Gebruiker niet gevonden.</p>
    }
</CustomCards>

@code {
    string response_Msg = "";
    bool isSuccess = false;
    [Parameter] public string Id { get; set; } = "";
    private IEnumerable<UserDTO> _users = default!;

    private UserDTO userBeingEdited = null;
    private bool _hasError = false;
    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        try
        {
            var response = (await managementApiRepository.GetAllUsersAsync()).ToList(); 
            if (response != null && response.Count > 0)
            {
                _users = response;
                userBeingEdited =  _users.FirstOrDefault(u => u.Id == Id);
                if (userBeingEdited == null)
                {
                    _hasError = true; 
                }

            }
            else
            {
                _hasError = true;  // No users found or response is null
            }
        }
        catch (HttpRequestException ex)
        {
            _hasError = true;  
            Console.WriteLine($"Request error: {ex.Message}");
        }
        finally
        {
            _isLoading = false;
        }
    }

    private async Task HandleValidSubmit()
    {
        if (userBeingEdited != null)
        {
            try
            {
                var updatedUser = await managementApiRepository.UpdateUserRoleAsync(userBeingEdited, userBeingEdited.Roles);

                if (updatedUser != null)
                {
                    // Update overige gebruiker-gegevens
                    var response = await apiClient.PutAsJsonAsync($"/api/User/{userBeingEdited.Id}", userBeingEdited);
                    
                    if (response.IsSuccessStatusCode)
                    {

                        Console.WriteLine("Gebruiker succesvol bijgewerkt.");
                        userBeingEdited = null;
                        StateHasChanged();
                    }
                    else
                    {
                        Console.WriteLine($"Fout bij het bijwerken van de gebruiker: {response.ReasonPhrase}");
                    }
                }
                else
                {
                    Console.WriteLine("Fout bij het bijwerken van de rollen.");
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Fout bij het bijwerken van de gebruiker: {ex.Message}");
            }
        }
    }

    

}
