<AuthorizeView>
    <Authorized>
        <a href="Account/logout" class="nav-link d-flex lh-1 text-reset p-0">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Account/login" class="nav-link d-flex lh-1 text-reset p-0">Log in</a>
    </NotAuthorized>
</AuthorizeView>