@inherits LayoutComponentBase

<div class="registration-layout">

    <div class="left-side">
        <img src="@URLImage" alt="image" />
        <h1 style="color:white">welkom bij</h1>
        <h3 style="background-image:linear-gradient(to right, #D9D9D9,#E0D000);color: transparent;background-clip: text;">GATAM.com</h3>
    </div>

    <div class="right-side">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string URLImage { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
