@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="gatam-card">
    <div class="card-image-container">
        <img class="card-img" src="/images/cardImg.png" alt="Card image">
    </div>
    <div class="card-content">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
