@inherits LayoutComponentBase

@inject NavigationManager NavigationManager


<div >
    <div >
       <CustomNavMenu>
            <input type="checkbox" title="Navigation menu" class="navbar-toggler" hidden />

            <div class="nav-scrollable">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav" style="gap: 1rem;">
                        <AuthorizeView Policy="RequireManagementRole">
                            <Authorized>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" 
                                       data-bs-toggle="dropdown" aria-expanded="false" style="color:white; font-weight:bold;">
                                        <i class="bi bi-people" style="font-size: 1.2rem; margin-right: 0.5rem;"></i> Gebruikersbeheer
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="usersDropdown" style="padding: 0.5rem 0;">
                                        <li>
                                            <NavLink class="dropdown-item" href="/admin/user-list">
                                                <i class="bi bi-list-ul"></i> Gebruikers Overzicht
                                            </NavLink>
                                        </li>
                                        <li>
                                            <NavLink class="dropdown-item" href="/admin/create">
                                                <i class="bi bi-person-plus"></i> Gebruiker Toevoegen
                                            </NavLink>
                                        </li>
                                        <li>
                                            <NavLink class="dropdown-item" href="/AssignToBegeleider">
                                                <i class="bi bi-person-check"></i> Volgers Toewijzen
                                            </NavLink>
                                        </li>
                                    </ul>
                                </li>
                            </Authorized>
                        </AuthorizeView>

                        <AuthorizeView Policy="RequireManagementRole">
                            <Authorized>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="modulesDropdown" role="button" 
                                       data-bs-toggle="dropdown" aria-expanded="false" style="color:white; font-weight:bold;">
                                        <i class="bi bi-journal" style="font-size: 1.2rem; margin-right: 0.5rem;"></i> Modules
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="modulesDropdown" style="padding: 0.5rem 0;">
                                        <li>
                                            <NavLink class="dropdown-item" href="/modules-per-gebruiker">
                                                <i class="bi bi-eye"></i> Modules per Gebruiker
                                            </NavLink>
                                        </li>
                                        <li>
                                            <NavLink class="dropdown-item" href="/content/AssigningModules">
                                                <i class="bi bi-plus"></i> Modules Toewijzen
                                            </NavLink>
                                        </li>
                                    </ul>
                                </li>
                            </Authorized>
                        </AuthorizeView>

                        <AuthorizeView Policy="RequireMakerRole">
                            <Authorized>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="contentDropdown" role="button" 
                                       data-bs-toggle="dropdown" aria-expanded="false" style="color:white; font-weight:bold;">
                                        <i class="bi bi-journal" style="font-size: 1.2rem; margin-right: 0.5rem;"></i> Content
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="contentDropdown" style="padding: 0.5rem 0;">
                                        <li>
                                            <NavLink class="dropdown-item" href="/content/modules">
                                                <i class="bi bi-collection"></i> Modules Overzicht
                                            </NavLink>
                                        </li>
                                        <li>
                                            <NavLink class="dropdown-item" href="/content/create">
                                                <i class="bi bi-plus"></i> Module Aanmaken
                                            </NavLink>
                                        </li>
                                        <li>
                                            <NavLink class="dropdown-item" href="/questions">
                                                <i class="bi bi-question"></i> Vragen Beheren
                                            </NavLink>
                                        </li>
                                    </ul>
                                </li>
                            </Authorized>
                        </AuthorizeView>
                    </ul>
                </div>
            </div>
            
       </CustomNavMenu>
    </div>
    <main class="main-content">
        <article class="article-content">
            @Body
        </article>
    </main>
    <footer class="bg-gatam">
        <Footer />
    </footer>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<Toasts @rendermode="InteractiveServer"  class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />