@page "/content/modules"
@inject ApiClient apiClient
@rendermode InteractiveServer
@using Gatam.Domain
@using Gatam.WebAppBegeleider.Components.Layout
@using Gatam.WebAppBegeleider.Extensions
@attribute [Authorize(Policy = "RequireMakerRole")]


<CustomCards>
    <h2>Modulen</h2>
    <NavLink class="nav-link" href="/content/create" >
        <button class="btn" style="background-color: #4454D2; color:white; font-weight:bold; margin-bottom:10px;">
            Module toevoegen
        </button>
        
    </NavLink>
   
            <Grid TItem="ApplicationModule"
                  @ref="moduleGrid"
                  AllowRowClick="true"
                  AllowSorting="true"
                  Class="table table-hover"
                  AllowPaging="true"
                  Data="modules"
                  PageSize="10"
                  HeaderRowCssClass="custom-header"
                  Responsive="true">
                <GridColumns>
                    <GridColumn TItem="ApplicationModule" HeaderText="Title" PropertyName="Title" SortString="Title" SortKeySelector="item => item.Title">
                        @context.Title
                    </GridColumn>
                    <GridColumn TItem="ApplicationModule" HeaderText="Category:" PropertyName="Category" SortString="Category" SortKeySelector="item => item.Category">
                        @context.Category
                    </GridColumn>
                    <GridColumn TItem="ApplicationModule" HeaderText="Aangemaakt op:" PropertyName="CreatedAt" SortString="QuestionTitle" SortKeySelector="item => item.CreatedAt">
                        <Tooltip Class="me-4" Title="@context.CreatedAt.ToString("dd MMMM yyyy HH:mm")" Placement="TooltipPlacement.Right">@context.CreatedAt.ToString("dd-MM-yyyy HH:mm")</Tooltip>
                    </GridColumn>
                <GridColumn TItem="ApplicationModule" HeaderText="Actie" Filterable="false">
                        <div>
                            <button type="button"
                                    class="btn btn-outline-danger"
                                    data-toggle="modal" data-target="#exampleModal" @onclick:stopPropagation>
                                <i class="bi bi-trash"></i>
                            </button>
                    <a class="btn" style="background-color: #4454D2; color:white; font-weight:bold;" href="/questions" @onclick:stopPropagation>
                        <i class="bi bi-plus-square-fill"></i> Voeg vraag toe
                            </a>
                        </div>
                    </GridColumn>
                </GridColumns>
            </Grid>
</CustomCards>


@code {
    private Grid<ApplicationModule> moduleGrid = new Grid<ApplicationModule>();
    private List<ApplicationModule> modules = new();


    protected override async void OnInitialized()
    {
        var modulesResponse = await apiClient.GetFromJsonAsync<List<ApplicationModule>>("api/module");
        moduleGrid.Data = modulesResponse;
        moduleGrid.RefreshDataAsync();
       

        base.OnInitialized();

    }

   

}
