@page "/weather"
@attribute [Authorize(Roles = "ADMIN")]
@attribute [StreamRendering]

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

    <table class="table">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
       @*  <tbody>
            @foreach (PropertyInfo prop in @context.User.GetProperties())
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                </tr>
            }
        </tbody> *@
    </table>

@code {
}
