@inherits LayoutComponentBase
<link href="css/custom-nav-menu.css" rel="stylesheet" />

<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-image:linear-gradient(to right,#9ac1d9, #232B6C)">
        <div class="container-fluid">
            <a class="navbar-brand px-4" href="">
                <img src="/images/logo.png" alt="Logo" style="width:35%;" />
            </a>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                @ChildContent
                <div class="ms-auto">
                    <AuthorizeView>
                        <Authorized>
                                    <a class="btn rounded-pill btn-right" style="color: white; margin-top:10px;  background-color: rgba(239, 241, 255, 0.5);   padding: 8px 16px; text-decoration: none; " href="account/login">Log out</a>
                                </Authorized>

                        <NotAuthorized>
                            <a class="btn rounded-pill me-2" style="background-color:#4454D2; color:white" href="/account/sign-up">Sign Up</a>
                            <a class="btn rounded-pill" style="color:white; background-color: rgba(239, 241, 255, 0.5);" href="account/login">Log in</a>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </nav>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}