@inherits LayoutComponentBase
<link href="css/custom-nav-menu.css" rel="stylesheet" />

<div>
    <nav style="background-image:linear-gradient(to right,#9ac1d9, #232B6C);">
        <div style="display: flex; align-items: center; justify-content: space-between; padding: 0.5rem 1rem;">
            <img src="/images/logo.png" alt="Logo" style="width: clamp(100px, 35%, 200px); object-fit: contain;" />
            
            <div class="d-none d-lg-flex flex-grow-1 justify-content-center">
                @ChildContent
            </div>
            
            <div class="d-flex align-items-center">
                <AuthorizeView>
                    <Authorized>
                        <a class="btn rounded-pill btn-right" style="color: white; background-color: rgba(239, 241, 255, 0.5); padding: 6px 12px; text-decoration: none; font-size: clamp(0.8rem, 2.5vw, 1rem);" href="account/login">Log out</a>
                    </Authorized>
                    <NotAuthorized>
                        <a class="btn rounded-pill me-2" style="background-color:#4454D2; color:white; font-size: clamp(0.8rem, 2.5vw, 1rem);" href="/account/sign-up">Sign Up</a>
                        <a class="btn rounded-pill" style="color:white; background-color: rgba(239, 241, 255, 0.5); font-size: clamp(0.8rem, 2.5vw, 1rem);" href="account/login">Log in</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </nav>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}