@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<link href="css/custom-nav-menu.css" rel="stylesheet" />

<div>
    <nav style="background-image:linear-gradient(to right,#9ac1d9, #232B6C);">
        <div style="display: flex; align-items: center; padding: 0.5rem 1rem;">
            <a href="/" style="cursor: pointer; flex: 0 0 200px;">
                <img src="/images/logo.png" alt="Logo" style="width: clamp(100px, 35%, 200px); object-fit: contain;" />
            </a>
            
            <div class="d-none d-lg-flex justify-content-center" style="flex: 1; margin: 0 200px;">
                @ChildContent
            </div>
            
            <div class="d-flex align-items-center" style="flex: 0 0 200px; justify-content: flex-end;">
                <AuthorizeView>
                    <Authorized>
                        <a class="btn rounded-pill btn-right" style="color: white; background-color: rgba(239, 241, 255, 0.5); padding: 6px 12px; text-decoration: none; font-size: clamp(0.8rem, 2.5vw, 1rem);" href="account/login">Log out</a>
                    </Authorized>
                    <NotAuthorized>
                        <a class="btn rounded-pill" style="color:white; background-color: rgba(239, 241, 255, 0.5); font-size: clamp(0.8rem, 2.5vw, 1rem);" href="account/login">Log in</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </nav>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}