<div class="d-none d-lg-block" style="background: linear-gradient(135deg, rgb(146, 175, 206), rgb(73, 77, 126));">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 px-4" style="max-width: 1400px; margin: 0 auto;">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img src="/images/logo.png" alt="Gatam logo wit" width="50%" height="auto"/>
            </a>
            <span style="color: white;">© 2024 Gatam</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex mb-0">
            <li class="ms-3"><a href="https://www.linkedin.com/company/gatam/"><Icon Name="IconName.Linkedin" Color="IconColor.White" /></a></li>
            <li class="ms-3"><a href="https://www.instagram.com/gatam_werkt/"><Icon Name="IconName.Instagram" Color="IconColor.White" /></a></li>
            <li class="ms-3"><a href="https://www.facebook.com/GATAMvzw/"><Icon Name="IconName.Facebook" Color="IconColor.White" /></a></li>
        </ul>
    </footer>
</div>

@code {
} 